{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container" id="welcome-animation">
        <span class="text1">Welcome to</span>
        <span class="text2">Note-it</span>
    </div>
    <div class="container" id="quote">
        <figure class="text-center">
            <blockquote class="blockquote">
              <p>Don't forget, just Note-it.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Parth Gupta
            </figcaption>
          </figure>
    </div>
{% endblock %}